.poster {
   position: relative;
}

.sale {
   padding-left: 35px;
   padding-right: 27px;
   font-size: 119px;
   font-weight: 900;
   line-height: 145px;
   color: var(--sea);
}

.text_bestseller {
   font-size: 16px;
   text-transform: uppercase;
   padding-left: 35px;
}

.poster h1 {
   text-transform: uppercase;
   font-size: 42px;
   line-height: 51.2px;
   width: 491px;
   height: 93px;
   padding-left: 35px;
}

.btn_show_now {
   margin-top: 33px;
   margin-left: 35px;
}

.poster_img_computer {
   width: 462px;
   height: 359px;
   position: absolute;
   top: 75px;
   left: 430px;
}
