.product_card {
   padding: 15px;
   margin-bottom: 20px;
}

.image_container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   height: 200px;
   border-radius: 5px;
   background-color: #fff;
}

.image_container img {
   max-width: 100%;
   max-height: 100%;
}

.card_title {
   display: block;
   height: 36px;
   margin: 10px;
   overflow: hidden;
   font-size: 12px;
   line-height: 18px;
}

.price {
   font-size: 15px;
   font-weight: 500;
   line-height: 15.5px;
   margin-left: 12px;
   color: #6c3eb8;
}

.people {
   margin-top: 10px;
   margin-left: 12px;
}
