.Category_wrapper {
   width: 100%;
   padding: 24px;
   flex-grow: 1;
}

.Category_list{
   margin-top: 24px;
   display: flex;
   gap: 20px;
   flex-wrap: wrap;
}

.Category_product{
   background: var(--bg);
   border-radius: 8px;
   overflow: hidden;
   width: calc(100% / 5 - 20px);
}
