.filter_form {
   display: flex;
   padding-left: 20px;
   margin-top: 20px;

   align-items: center;
}

.filter_form_input {
   width: 240px;
   height: 40px;
   padding: 10px;
   margin-left: 15px;
   border-radius: 5px;
   background-color: #212123;
   color: #616e74;
}

.filter_form_input:first-child{
    margin-left: 0;
}
