.products_title {
   padding-top: 25px;
   font-size: 20px;
   font-weight: 600;
   line-height: 24.38px;
}

.trending_wrapper {
   padding-top: 73px;
   padding-left: 20px;
   padding-right: 12px;
   padding-bottom: 85px;
}
.trending_list {
   display: flex;
   flex-wrap: wrap;
   column-gap: 20px;
   row-gap: 25px;
}

.trending_list_item {
   background-color: #212123;
   width: 230px;
   height: 220px;
   border-radius: 0 0 6px 6px;
}

.show_more {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px;
}
