.section_like {
   width: 950px;
   height: 100vh;
}

.title {
   text-align: center;
   font-weight: 600;
   line-height: 20px;
   font-size: 25px;
   margin: 47px 15px 15px 15px;
}

.container_product_info {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   padding: 15px;
   margin: 47px 15px 15px 15px;
   outline: 1px solid;
}

.container_product_card {
   display: flex;
   align-items: center;
   padding: 15px;
   margin: 15px;
   outline: 1px solid;
}

.image_container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 150px;
   /* height: 150px; */
   border-radius: 5px;
   background-color: #fff;
   margin-left: 213px;
}

.image_container img {
   max-width: 50%;
   max-height: 50%;
}

.price {
   margin-left: 218px;
}

.add_to_cart {
   margin-left: 100px;
}
